.headerWrapper{
  background-color: var(--card-bg);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .logoItem {
    img{
      height: 30px;
      object-fit: contain;
    }
  }
}