$clr-bg: #F7F8FA;
$dark-gray:#767676;
$dark-gray:#767676;
$light-gray:#CCCCCC;
$dark-black:#030F09;
$card-bg:#ffff;

$primary-color:#30BE76;
$dark-primary-color:#46be30;

body {
  background: $clr-bg;
}