
.authWrapper {
  .title {
    font-size: 1.5rem;
    color: var(--dark-black);
    font-weight: 700;
  }
  .text{
    color: var(--dark-gray);
    font-size: 0.875rem;
  }
  .linkItem {
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
  }
}